/* ---------- RESET ---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
  font-family: "gg sans", sans-serif;
  background: #313338;
  color: #dbdee1;
}

/* Scrollbars */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #1e1f22;
  border-radius: 4px;
}

/* Utility classes */
.hidden {
  display: none !important;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}
